<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help and Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='information.css') }}">
</head>
<body>
    <div class="container">
        <h1>Help and Information</h1>
        <p>Welcome to FileSecure, the best solution to safely storing your digital files! With FileSecure, you can effortlessly upload any file to our platform where it will be encrypted using security protocols. Our system then segments the encrypted files for enhanced protection and efficient storage. Whether you need to manage your files, view them securely, or download them for offline use, FileSecure provides a seamless and user-friendly experience.</p>
        <h2>To get started:</h2>
        <ul>
            <li><strong>Sign up:</strong> Click on the signup button on the home page to sign up with the software.</li>
            <li><strong>Log In:</strong> Once your account is created, use your credentials to login to our system.</li>
            <li><strong>Upload your first file:</strong> After logging in, navigate to the "Upload" section. Select the file you want to secure, and click "Upload." Your file will be encrypted, segmented, and securely stored in our system.</li>
        </ul>
    </div>
</body>
</html>